body {
    align-items: center;
    align-content: center;
    font-family: cursive;
}

.navbar {
    background-color: transparent;
}

.bg-img {
    background-image: url("bg\ about.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.navi {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: transparent;
    align-items: left;
}

.navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .navi ul li {
    display: inline-block;
    margin: 10px;
  }
  
  .navi ul li a {
    text-decoration: none;
    color: #000000;
    padding: 5px 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .navi ul li a:hover {
    background-color: #ffffff;
    color: #000000;
  }

.mainres {
    text-decoration: none;
    text-align: center;
    color: #44444A ;
    margin-left: 20px;
}

.menu {
    text-align: center;
    color: #000000;
}

p {
    align-content: center;
    text-decoration: none;
    text-align: justify;
    font-size: 25px;
    color: #1D1DCE;
}

.box {
    background-color: white;
    width: 10000px;
    height: 1150px;
    border: none ;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px gray
}

.container {
    display: flex;
    justify-content: center;   
}

h2 {
    color: #000000;
}



